<div class="background">
  <fieldset>
    <%= form_for :session, url: session_path do |form| %>
    <div class="fields">
      <%= form.label :email %>
      <%= form.email_field :email %><br>
    </div>
    <div class="fields">
      <%= form.label :password %>
      <%= form.password_field :password %><br>
    </div>
    <div class="fields">
      <p><%= form.submit "Sign in", :id => "button" %></p>
    </div>
    <% end %>
  </fieldset>
</div>