<%= form_for @place do |f| %>
  
  <div>
<<<<<<< HEAD
    <%= f.file_field :image %>
=======
    <p><%= f.file_field :photo %></p>  
>>>>>>> search
  </div>
  <div>
    <p><%= f.label :address %></p>
    <p><%= f.text_field :address %></p>
  </div>
  <div>
    <p><%= f.label :description %></p>
    <p><%= f.text_field :description %></p>
  </div>
  <div>
    <p><%= f.label :eta_in_minutes %></p>
    <p><%= f.number_field :eta %></p>
  </div>
  <div>
    <p><%= f.label :rent_per_month %></p>
    <p><%= f.number_field :rent_per_month %></p>
  </div>
  <div>
    <p><%= f.label :bedrooms %></p>
    <p><%= f.text_field :bedrooms %></p>
  </div>
  <div>
    <p><%= f.label :available %></p>
    <p><%= f.date_select :available %></p>
  </div>
  <div>
    <p><%= f.label :student %></p>
    <p><%= f.check_box :student %></p>
  </div>
  <div>
    <p><%= f.label :additional %></p>
    <p><%= f.text_field :additional %></p>
  </div>
  <div>
    <p><%= f.submit "Yes!", :id => "button" %></p>
  </div>
<% end %>