<div class="place-container">
  <div class="place-main">
    <div class="photo-gallery">
      Show photos
    </div> 
    <div class="place">
      <%= div_for @place do %>
        <p>Address: <%= @place.address %></p>
        <p>Description: <%= @place.description %></p>
        <p>Estimated time to Drexel: <%= @place.eta %></p>
        <p>Rent Per Month: <%= @place.rent_per_month %></p>
        <p>Number of Bedrooms: <%= @place.bedrooms %></p>
        <p>Avaiable starting: <%= @place.available %></p>
        <p>Additonal: <%= @place.additional %></p>
        <p>Only for Students? <%= @place.student %></p>
      <% end %>
    </div>
  </div>
  <div class="place-side">
    <div class="map">
      Pull google maps in
    </div> 
    <div class="landlord">
      Show landlord info
    </div> 
  </div>
</div>
