<div class="place-container">
  <div class="place-main">
    <div class="place">
      <ul>
        <%= div_for @place do %>
          <li>Address: <%= @place.address %></li>
          <li>Description: <%= @place.description %></li>
          <li>Estimated time to Drexel: <%= @place.eta %></li>
          <li>Rent Per Month: <%= @place.rent_per_month %></li>
          <li>Number of Bedrooms: <%= @place.bedrooms %></li>
          <li>Avaiable starting: <%= @place.available %></li>
          <li>Additonal: <%= @place.additional %></li>
          <li>Only for Students? <%= @place.student %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="place-side">
    <div class="map">
      Pull google maps in
    </div> 
    <div class="landlord">
      Show landlord info
    </div> 
  </div>
</div>
