<!DOCTYPE html>
<html>
<head>
  <title>Domi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div>
    <% if signed_in? %>
      <%= link_to current_user.name, dashboard_path %>
      <%= link_to "Signout", session_path, method: :delete %>
    <% else %>
      <%= link_to "Signin", new_session_path %>
       <%= link_to "Sign up", new_user_path %>
    <% end %>
  </div>
   <% if alert %>
    <p><%= alert %></p>
   <% end %>
  
<%= yield %>

</body>
</html>
